<div class="contact dashboard-card">
  <div class="contact__inbox">
    <app-inbox
      (conversationSelected)="onConversationSelected($event)"
    ></app-inbox>
  </div>
  <div class="contact__message">
    @if (selectedConversationUserId) {
      <app-conversation
        [conversationUserId]="selectedConversationUserId"
        [userId]="myUserId"
      ></app-conversation>
    } @else {
      <div class="contact__message--empty">
        <i class="pi pi-envelope"></i>
      </div>
    }
  </div>
</div>
