.contact {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;

  &__inbox {
    position: relative;
    height: 100%;
    flex: 3;
  }

  &__message {
    height: 100%;
    flex: 7;
    background-color: var(--surface-b);

    &--empty {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--surface-d);
      height: 100%;

      .pi {
        font-size: 15rem;
      }
    }
  }
}
