@if (program) {
  <div class="details">
    <div class="details__back">
      <p-button
        icon="pi pi-arrow-left"
        label="Nazad"
        i18n-label="@@details.back"
        [text]="true"
        (onClick)="goBack()"
      />
    </div>
    <div class="details__content">
      <div class="details__content--gallery">
        @if (images.length > 0) {
          <p-galleria
            [value]="images"
            [showItemNavigators]="images.length > 1"
            [responsiveOptions]="responsiveOptions"
            [showThumbnails]="false"
            [showIndicators]="images.length > 1"
            [showIndicatorsOnItem]="false"
            [circular]="true"
            [autoPlay]="true"
          >
            <ng-template pTemplate="item" let-item>
              <img [src]="item" class="preview__main" />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
              <img [src]="item" class="preview__mini" />
            </ng-template>
            <ng-template pTemplate="caption" let-item>
              <p i18n="@@details.categoryFull">
                Kategorija: {{ program.categoryName }}
              </p>
            </ng-template>
          </p-galleria>
        }
      </div>
      <div class="details__content--table">
        <div class="details__content--table-title">
          <div class="details__content--title">
            <h1>{{ program.name }}</h1>
            <div>{{ program.price | currency }}</div>
          </div>
          @if (program.instructorId !== myId) {
            <p-button
              label="Dodaj u korpu"
              icon="pi pi-plus"
              [disabled]="isInCart || isProgramPurchased"
              (onClick)="addToCart()"
            ></p-button>
          }
        </div>
        <p-divider />
        @if (program.description) {
          <p-scrollPanel styleClass="details__content--table-description">
            <p>{{ program.description }}</p>
          </p-scrollPanel>
        }
        <table>
          <tr>
            <td i18n="@@details.specs.duration">Trajanje</td>
            <td>{{ program.duration | convertMinutes }}</td>
          </tr>
          <tr>
            <td i18n="@@details.specs.instructor">Trener</td>
            <td>
              @if (program.instructorId) {
                <a href="javascript:void(0)" (click)="showInstructorDialog()">
                  {{ program.instructorName }}
                </a>
              }
            </td>
          </tr>
          <tr>
            <td i18n="@@details.specs.difficultyLevel">Nivo težine</td>
            <td>{{ program.difficultyLevel | difficulty }}</td>
          </tr>
          <tr>
            <td i18n="@@details.specs.location">Lokacija</td>
            <td>{{ program.locationName || 'Online' }}</td>
          </tr>
        </table>
      </div>
    </div>
    @if (isLoggedIn) {
      <div class="details__comments">
        <app-comments [programId]="programId"></app-comments>
      </div>
    }
  </div>
  <p-dialog
    [header]="program.instructorName"
    [modal]="true"
    [(visible)]="instructorDialogVisibility"
    [style]="{ width: '50vw', height: '50vh' }"
  >
    <p>{{ instructorBiography }}</p>
  </p-dialog>
}
