.details {
  &__back {
    margin-bottom: 1rem;
  }

  &__content {
    display: flex;
    width: 100%;
    gap: 2.5rem;

    &--gallery {
      width: 50%;
    }

    &--title {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
    }

    &--table {
      display: flex;
      flex-direction: column;
      width: 50%;

      &-title {
        height: 7rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        h1 {
          margin-top: 0;
        }
        .p-button {
          width: max-content;
        }
      }

      &-description {
        height: 10.5rem;
        margin-bottom: 0.75rem;
      }

      table {
        margin-top: 1rem;
        width: 100%;
        border-collapse: collapse;

        th,
        td {
          border: 1px solid var(--surface-d);
          padding: 1rem;
        }
      }

      &-footer {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .p-button {
          margin-top: 1rem;
          width: 100%;
        }
      }
    }

    img {
      display: block;
    }
    .preview {
      &__main {
        width: 100%;
        height: 35rem;
        object-fit: cover;
      }
      &__mini {
        width: 5rem;
      }
    }
  }

  &__comments {
    margin-top: 2rem;
  }
}
