<header class="header">
  <p-toolbar styleClass="header__toolbar">
    <ng-template pTemplate="start">
      <img src="/assets/hero.png" alt="Logo" class="header__toolbar--logo" />
    </ng-template>
    <ng-template pTemplate="center">
      <span class="p-input-icon-left header__toolbar--search">
        <i class="pi pi-search"></i>
        <input pInputText class="" placeholder="Pretraga" />
      </span>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="header__toolbar--actions">
        <!-- <p-button icon="pi pi-user" label="Prijava"></p-button> -->
        <app-login />
        <p-button icon="pi pi-shopping-cart" label="Korpa"></p-button>
      </div>
    </ng-template>
  </p-toolbar>
</header>
