.header {
  &__toolbar {
    background-color: unset;
    border: unset;
    align-items: center;

    &--logo {
      height: 3rem;
      object-fit: contain;
      box-sizing: border-box;
      cursor: pointer;
    }

    &--search {
      .p-inputtext {
        width: 35rem;
      }
    }
    &--actions {
      display: flex;
      gap: 1.5rem;
    }
  }
}
