<form [formGroup]="form" class="address">
  <h3 i18n="@@checkout.address">Adresa</h3>
  <input
    placeholder="Ime"
    i18n-placeholder="@@checkout.firstName"
    [ngClass]="{
      'ng-invalid ng-dirty': isFieldInvalid('firstName')
    }"
    type="text"
    pKeyFilter="alpha"
    formControlName="firstName"
    pInputText
  />
  <input
    placeholder="Prezime"
    i18n-placeholder="@@checkout.lastName"
    [ngClass]="{
      'ng-invalid ng-dirty': isFieldInvalid('lastName')
    }"
    type="text"
    pKeyFilter="alpha"
    formControlName="lastName"
    pInputText
  />
  <input
    placeholder="E-Mail"
    i18n-placeholder="@@checkout.lastName"
    [ngClass]="{
      'ng-invalid ng-dirty': isFieldInvalid('email')
    }"
    type="email"
    formControlName="email"
    pInputText
  />
  <input
    placeholder="Ulica i broj"
    i18n-placeholder="@@checkout.userAddress"
    [ngClass]="{
      'ng-invalid ng-dirty': isFieldInvalid('street')
    }"
    type="text"
    pKeyFilter="alphanum"
    formControlName="street"
    pInputText
  />
  <input
    placeholder="Grad"
    pKeyFilter="alpha"
    i18n-placeholder="@@checkout.city"
    [ngClass]="{
      'ng-invalid ng-dirty': isFieldInvalid('city')
    }"
    type="text"
    formControlName="city"
    pInputText
  />
  <input
    placeholder="Poštanski broj"
    i18n-placeholder="@@checkout.zip"
    [ngClass]="{
      'ng-invalid ng-dirty': isFieldInvalid('zip')
    }"
    type="number"
    formControlName="zip"
    pattern="[0-9]*"
    pInputText
  />
  <input
    placeholder="Broj telefona (opcionalno)"
    i18n-placeholder="@@checkout.phone"
    type="tel"
    formControlName="phone"
    pInputText
  />
  <p-dropdown
    [options]="countries"
    formControlName="country"
    [ngClass]="{
      'ng-invalid ng-dirty': isFieldInvalid('country')
    }"
    optionLabel="name"
    optionValue="code"
    placeholder="Država"
    i18n-placeholder="@@checkout.country"
  >
    <ng-template let-country pTemplate="selectedItem">
      <country-item [country]="country" />
    </ng-template>
    <ng-template let-country pTemplate="item">
      <country-item [country]="country" />
    </ng-template>
  </p-dropdown>
</form>
