<div class="password dashboard-card">
  <div class="password__header">
    <h2 i18n="@@profile.title">Promijeni lozinku</h2>
  </div>
  <div class="password__warning">
    <i class="pi pi-exclamation-circle"></i>
    <p i18n="@@password.warning">
      U nastavku možete promijeniti lozinku. Uvijek koristite sigurne
      lozinke.
    </p>
  </div>
  <form [formGroup]="passwordForm" class="password__fields">
    <p-password
      formControlName="oldPassword"
      placeholder="Stara lozinka"
      [toggleMask]="true"
      [feedback]="false"
    />
    <div class="password__fields--new">
      <p-password
        formControlName="newPassword"
        placeholder="Nova lozinka"
        [toggleMask]="true"
        promptLabel="Unesite lozinku"
        weakLabel="Prejednostavna lozinka"
        mediumLabel="Srednja kompleksnost lozinke"
        strongLabel="Kompleksna lozinka"
      >
        <ng-template pTemplate="footer">
          <p-divider />
          <p class="password__suggestion">Preporuke</p>
          <ul class="password_suggestions">
            <li>Bar jedno malo slovo</li>
            <li>Bar jedno veliko slovo</li>
            <li>Bar jedna cifra ili znak</li>
            <li>Minimalno 8 karaktera</li>
          </ul>
        </ng-template>
      </p-password>
      <p-password
        formControlName="newRepeatPassword"
        placeholder="Ponovite novu lozinku"
        [toggleMask]="true"
        [feedback]="false"
      />
    </div>
  </form>
</div>
