<div class="password dashboard-card">
  <div class="password__header">
    <h2 i18n="@@profile.title">Promijeni lozinku</h2>
  </div>
  <div class="password__warning">
    <i class="pi pi-exclamation-circle"></i>
    <p i18n="@@password.warning">
      U nastavku možete promijeniti lozinku. Uvijek koristite sigurne lozinke.
    </p>
  </div>
  <form [formGroup]="passwordForm" class="password__fields">
    <p-floatLabel>
      <p-password
        formControlName="oldPassword"
        [toggleMask]="true"
        [feedback]="false"
      />
      <label for="oldPassword" i18n="@@password.oldPassword">
        Stara lozinka *
      </label>
    </p-floatLabel>
    <div class="password__fields--new">
      <p-floatLabel>
        <p-password
          formControlName="newPassword"
          [toggleMask]="true"
          promptLabel="Unesite lozinku"
          weakLabel="Prejednostavna lozinka"
          mediumLabel="Srednja kompleksnost lozinke"
          strongLabel="Kompleksna lozinka"
        >
          <ng-template pTemplate="footer">
            <p-divider />
            <p class="password__suggestion">Preporuke</p>
            <ul class="password_suggestions">
              <li>Bar jedno malo slovo</li>
              <li>Bar jedno veliko slovo</li>
              <li>Bar jedna cifra ili znak</li>
              <li>Minimalno 8 karaktera</li>
            </ul>
          </ng-template>
        </p-password>
        <label for="newPassword" i18n="@@password.oldPassword"
          >Nova lozinka *
        </label>
      </p-floatLabel>
      <p-floatLabel>
        <p-password
          formControlName="newRepeatPassword"
          [toggleMask]="true"
          [feedback]="false"
        />
        <label for="newRepeatPassword" i18n="@@password.oldPassword">
          Ponovite novu lozinku *
        </label>
      </p-floatLabel>
    </div>
  </form>
  @if (
    passwordForm.errors?.['passwordsMismatch'] &&
    passwordForm.get('newRepeatPassword')?.touched
  ) {
    <p class="p-error">Lozinke se ne podudaraju.</p>
  }
  <div class="password__footer toolbar">
    <bottom-toolbar
      (onSave)="saveChanges()"
      (onDiscard)="discardChanges()"
    ></bottom-toolbar>
  </div>
</div>
