<div class="purchased-programs dashboard-card">
  <div class="purchased-programs__header">
    <h2 i18n="@@purchasedPrograms.title">Kupljeni programi</h2>
  </div>
  <div class="view-programs__table">
    <p-table
      #ppTable
      [value]="programs"
      dataKey="id"
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 20]"
      [loading]="loading"
      [lazy]="true"
      (onLazyLoad)="loadPrograms($event)"
      [totalRecords]="totalRecords"
      responsiveLayout="stack"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          @for (col of cols; track col) {
            <th
              [pSortableColumn]="col.sortable ? col.field : undefined"
              [ngClass]="{ 'min-width': col.width }"
            >
              {{ col.header }}
              @if (col.sortable) {
                <p-sortIcon [field]="col.field" />
              }
            </th>
          }
          <th i18n="@@purchasedPrograms.actions">Akcije</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-program let-columns="columns">
        <tr>
          @for (col of cols; track col) {
            @if (col.field === 'difficultyLevel') {
              <td [ngStyle]="{ width: col.width }">
                <p-tag
                  [severity]="program.difficultySeverity"
                  [value]="program.difficultyLevel"
                />
              </td>
            } @else if (col.field === 'duration') {
              <td>
                {{ program[col.field] | convertMinutes }}
              </td>
            } @else if (col.field === 'name') {
              <td>
                <a
                  [routerLink]="['/program-details/', program.id]"
                  class="purchased-programs__link"
                >
                  {{ program[col.field] }}
                </a>
              </td>
            } @else if (col.field === 'price') {
              <td>
                {{ program[col.field] | currency }}
              </td>
            } @else if (col.field === 'endDate') {
              <td>
                {{ program[col.field] | date: 'dd.MM.yyyy' }}
              </td>
            } @else if (col.field === 'locationName') {
              <td>
                @if (program[col.field] === 'Online') {
                  <a
                    href="javascript:void(0)"
                    class="purchased-programs__link"
                    (click)="showVideoDialog(program?.youtubeUrl)"
                    >{{ program[col.field] }}</a
                  >
                } @else {
                  {{ program[col.field] }}
                }
              </td>
            } @else if (col.field === 'description') {
              <td [ngStyle]="{ width: col.width }">
                <div
                  [pTooltip]="program[col.field]"
                  tooltipPosition="bottom"
                  showDelay="500"
                  class="shorten"
                >
                  {{ program[col.field] }}
                </div>
              </td>
            } @else {
              <td [ngStyle]="{ width: col.width }">{{ program[col.field] }}</td>
            }
          }
          <td>
            <p-button
              icon="pi pi-trash"
              [rounded]="true"
              [text]="true"
              severity="danger"
              size="small"
              (onClick)="showDeleteDialog(program.purchaseId)"
            />
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td style="text-align: center" colspan="9">
            Nema kupljenih programa.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-dialog
    [modal]="true"
    [(visible)]="videoDialogVisible"
    [style]="{ width: '70vw' }"
    [closable]="true"
    (onHide)="clearVideoUrl()"
  >
    @if (videoUrl) {
      <iframe
        [src]="videoUrl | youtube"
        width="100%"
        height="600"
        frameborder="0"
        allowfullscreen
      ></iframe>
    }
  </p-dialog>
  <p-dialog
    header="Potvrda brisanja"
    [(visible)]="deleteDialogVisible"
    [modal]="true"
    [closable]="true"
    [style]="{ width: '30vw' }"
  >
    <p>Da li ste sigurni da želite da obrišete program?</p>
    <p-footer>
      <p-button
        label="Ne"
        icon="pi pi-times"
        size="small"
        [outlined]="true"
        (onClick)="deleteDialogVisible = false"
      ></p-button>
      <p-button
        label="Da"
        icon="pi pi-check"
        size="small"
        [outlined]="true"
        severity="danger"
        (onClick)="deleteProgram()"
      ></p-button>
    </p-footer>
  </p-dialog>
</div>
