.cart {
  &__summary {
    border-radius: var(--border-radius);
    padding: 1rem;
    min-width: 20rem;
    max-width: 100%;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);

    h3 {
      margin-top: 0;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    .item {
      &-info {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-total {
        flex-shrink: 0;
        margin-left: 1rem;
      }
    }
  }

  &__total {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-top: 1px solid var(--surface-300);
    padding-top: 1rem;
  }
}
