@import 'variables';
.main {
  max-width: $max-content-width;
  margin: 0 auto;
  width: 100%;
  padding: 2rem;

  &.dashboard-mode {
    max-width: none;
    padding: 0;
    margin: 0;
    height: 100vh;
  }

  &__header {
    height: $header-height;
  }
}
