<div class="register">
  <p-dialog
    header="Aktivacija naloga"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closable]="false"
    [(visible)]="showDialog"
    [style]="{ width: '25rem' }"
  >
    <p>
      Uspješno! Da biste aktivirali Vaš nalog, kliknite na link u mejl koji smo
      Vam poslali.
    </p>
    <p>
      Ukoliko niste dobili mejl, molimo Vas da provjerite spam folder ili
      jednostavno sačekati određeni period.
    </p>
    <p>Ovaj prozor možete da zatvorite.</p>
  </p-dialog>
  <div class="register__header">
    <div class="register__header--logo">
      <img src="assets/logo.svg" class="clickable" (click)="goToHome()" alt="logo" />
    </div>
    <h2 i18n="@@registration.title">Registracija</h2>
    <small i18n="@@registration.description">
      Molimo Vas da popunite sledeće informacije kako biste se registrovali.<br />Sva
      polja osim slike su obavezna.
    </small>
  </div>
  <form [formGroup]="registerForm" class="register__form">
    <image-uploader (imageUploaded)="onImageUploaded($event)" />
    <div class="register__form--name">
      <p-inputGroup>
        <p-inputGroupAddon>
          <i class="pi pi-user"></i>
        </p-inputGroupAddon>
        <input
          formControlName="firstName"
          pInputText
          [ngClass]="{
            'ng-invalid ng-dirty': isFieldInvalid('firstName')
          }"
          placeholder="Ime"
          i18n-placeholder="@@register.firstName"
          autocomplete="given-name"
        />
      </p-inputGroup>
      <p-inputGroup>
        <p-inputGroupAddon>
          <i class="pi pi-user"></i>
        </p-inputGroupAddon>
        <input
          formControlName="lastName"
          [ngClass]="{
            'ng-invalid ng-dirty': isFieldInvalid('lastName')
          }"
          pInputText
          placeholder="Prezime"
          i18n-placeholder="@@register.lastName"
          autocomplete="family-name"
        />
      </p-inputGroup>
    </div>
    <p-inputGroup>
      <p-inputGroupAddon>
        <i class="pi pi-key"></i>
      </p-inputGroupAddon>
      <input
        formControlName="username"
        [ngClass]="{
          'ng-invalid ng-dirty': isFieldInvalid('username') || usernameTaken
        }"
        pInputText
        placeholder="Korisničko ime"
        i18n-placeholder="@@login.username"
        autocomplete="username"
      />
      <button
        type="button"
        pButton
        [icon]="buttonIcon"
        [class]="buttonClass"
        (click)="checkUsername()"
      ></button>
    </p-inputGroup>
    <p-inputGroup>
      <p-inputGroupAddon>
        <i class="pi pi-envelope"></i>
      </p-inputGroupAddon>
      <input
        formControlName="email"
        [ngClass]="{
          'ng-invalid ng-dirty': isFieldInvalid('email')
        }"
        pInputText
        placeholder="Email"
        i18n-placeholder="@@login.email"
        autocomplete="email"
      />
    </p-inputGroup>
    <p-password
      class="register__form--password"
      formControlName="password"
      placeholder="Lozinka"
      i18n-placeholder="@@login.password"
      [ngClass]="{
        'ng-invalid ng-dirty': isFieldInvalid('password')
      }"
      [toggleMask]="true"
      promptLabel="Unesite lozinku"
      weakLabel="Prejednostavna lozinka"
      mediumLabel="Srednja kompleksnost lozinke"
      strongLabel="Kompleksna lozinka"
    >
      <ng-template pTemplate="footer">
        <p-divider />
        <p class="password__suggestion">Preporuke</p>
        <ul class="password_suggestions">
          <li>Bar jedno malo slovo</li>
          <li>Bar jedno veliko slovo</li>
          <li>Bar jedna cifra ili znak</li>
          <li>Minimalno 8 karaktera</li>
        </ul>
      </ng-template>
    </p-password>
    <p-dropdown
      [options]="cities"
      optionLabel="name"
      optionValue="id"
      [editable]="true"
      formControlName="cityId"
      [ngClass]="{
        'ng-invalid ng-dirty': isFieldInvalid('cityId')
      }"
      i18n-placeholder="@@register.city"
      placeholder="Grad"
    />
    <div class="register__form--register">
      <p-button
        label="Registracija"
        i18n-label="@@login.register"
        (click)="register()"
      ></p-button>
    </div>
  </form>
  <div class="register__footer"></div>
</div>
