<p-button
  [label]="iconOnly ? undefined : 'Prijava'"
  [outlined]="iconOnly"
  [size]="smallButton ? 'small' : undefined"
  i18n-label="@@login.openDialog"
  icon="pi pi-user"
  (onClick)="showDialog()"
></p-button>
<p-dialog
  header="Dobrodošli!"
  i18n-header="@@login.dialogHeader"
  [(visible)]="visible"
  [modal]="true"
  [closable]="true"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true"
  styleClass="login-dialog__wrapper"
>
  <div class="login-dialog">
    <div class="login-dialog__hero">
      <img src="assets/login-logo.svg" />
      <p-divider layout="vertical" />
    </div>
    <p-tabView [(activeIndex)]="activeIndex">
      <p-tabPanel header="Prijava" i18n-header="@@login.tabs.login">
        <form
          [formGroup]="loginForm"
          class="login-dialog__content login-dialog__content--login"
          (keydown.enter)="login()"
        >
          <p-inputGroup>
            <input
              pInputText
              placeholder="Email ili korisničko ime"
              i18n-placeholder="@@login.email"
              formControlName="email"
              [ngClass]="{
                'ng-invalid ng-dirty': isFieldInvalid('email')
              }"
            />
            <p-inputGroupAddon>
              <i class="pi pi-envelope"></i>
            </p-inputGroupAddon>
          </p-inputGroup>
          <p-password
            placeholder="Lozinka"
            i18n-placeholder="@@login.password"
            formControlName="password"
            [toggleMask]="true"
            [feedback]="false"
            [ngClass]="{
              'ng-invalid ng-dirty': isFieldInvalid('password')
            }"
          />
          <p-button
            label="Prijava"
            i18n-label="@@login.login"
            (onClick)="login()"
          ></p-button>
          <small
            class="login-dialog__content--info"
            i18n="@@login.noAccountFull"
          >
            Nemate nalog?
            <span (click)="goToRegister()">Napravite nalog!</span>
          </small>
        </form>
      </p-tabPanel>
      <p-tabPanel header="Registracija" i18n-header="@@login.tabs.register">
        <div class="login-dialog__content login-dialog__content--register">
          <div>
            <div>
              <b i18n="@@login.registerText">Nemate profil? Registrujte se!</b>
            </div>
            <small i18n="@@login.registerInfo">
              Registrujte se i pridružite se zajednici.
            </small>
          </div>
          <p-button
            label="Registracija"
            i18n-label="@@login.register"
            icon="pi pi-external-link"
            iconPos="right"
            (click)="goToRegisterPage()"
          ></p-button>
          <small
            class="login-dialog__content--info"
            i18n="@@login.alreadyHasAccount"
          >
            Imate nalog?
            <span (click)="goToLogin()">Prijavite se.</span>
          </small>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</p-dialog>
