.login-dialog {
  display: flex;

  img {
    object-fit: contain;
  }

  &__login-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5rem;

    &--info {
      position: absolute;
      bottom: 2rem;
      align-self: center;
      span {
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .p-tabview .p-tabview-nav li {
    width: 50%;
    box-sizing: border-box;
  }
}
