<div class="image-upload">
  <div
    class="image-upload__avatar"
    [ngClass]="{ clickable: showOverlay }"
    [style.width.px]="width"
    [style.height.px]="height"
    (click)="onAvatarClick()"
    (mouseenter)="showRemoveButton = true"
    (mouseleave)="showRemoveButton = false"
  >
    @if (imageUrl) {
      <img [src]="imageUrl" alt="User Avatar" />
      @if (showRemoveButton && showOverlay) {
        <div class="remove-button" (click)="removeImage($event)">
          <i class="pi pi-times"></i>
        </div>
      }
    } @else {
      <i class="pi pi-user"></i>
    }
  </div>
  <input
    type="file"
    #fileInput
    (change)="onFileSelected($event)"
    accept="image/*"
  />
</div>
