<div class="program">
  <p-card styleClass="program__card">
    <ng-template pTemplate="header">
      <p-galleria
        [value]="program.images"
        [circular]="true"
        [showItemNavigators]="program.images.length > 1"
        [showThumbnails]="false"
      >
        <ng-template pTemplate="item" let-item>
          <img [src]="item | url" />
        </ng-template>
      </p-galleria>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="program__content">
        <div class="program__content--info" (click)="goToDetails(program.id)">
          <strong>{{ program.name }}</strong>
          <div>{{ program.price | currency }}</div>
        </div>
        @if (showBuyButton) {
          <p-button
            icon="pi pi-cart-plus"
            [disabled]="isInCart || isProgramPurchased"
            (click)="addToCart()"
          />
        }
      </div>
    </ng-template>
  </p-card>
</div>
