<div class="profile dashboard-card">
  <div class="profile__header">
    <h2 i18n="@@profile.title">Profil</h2>
  </div>
  <div class="profile__content">
    <div class="profile__image">
      <image-uploader
        #imageUploader
        [width]="200"
        [height]="200"
        [showOverlay]="false"
        [image]="userData?.avatarUrl"
        (imageUploaded)="onImageUploaded()"
      ></image-uploader>
      <div class="profile__buttons">
        <p-button
          label="Promijeni"
          [outlined]="true"
          icon="pi pi-upload"
          size="small"
          (onClick)="imageUploader.triggerFileInput()"
        />
        <p-button
          label="Obriši"
          severity="danger"
          [outlined]="true"
          icon="pi pi-trash"
          size="small"
          (onClick)="clearImage()"
        />
      </div>
    </div>
    <p-divider type="dotted" layout="vertical" class="desktop-only"></p-divider>
    <form [formGroup]="userDataForm" class="profile__data">
      <div class="profile__data--username">
        <p-floatLabel>
          <input
            pInputText
            id="username"
            formControlName="username"
            aria-describedby="username-help"
          />
          <label for="username">Username *</label>
        </p-floatLabel>
      </div>
      <div class="profile__data--name">
        <p-floatLabel>
          <input
            id="firstName"
            formControlName="firstName"
            pInputText
            autocomplete="given-name"
          />
          <label for="firstName">Ime *</label>
        </p-floatLabel>
        <p-floatLabel>
          <input
            id="lastName"
            formControlName="lastName"
            pInputText
            autocomplete="family-name"
          />
          <label for="lastName">Prezime *</label>
        </p-floatLabel>
      </div>
      <div class="profile__data--email">
        <p-floatLabel>
          <input
            id="email"
            formControlName="email"
            pInputText
            autocomplete="email"
          />
          <label for="email">E-Mail *</label>
        </p-floatLabel>
      </div>
      <div class="profile__data--city">
        <p-dropdown
          [options]="cities"
          optionLabel="name"
          optionValue="id"
          [editable]="true"
          autocomplete="city"
          formControlName="cityId"
          i18n-placeholder="@@profile.city"
          placeholder="Grad"
        />
      </div>
      <div class="profile__data--biography">
        <p-floatLabel>
          <textarea
            id="bio"
            formControlName="biography"
            pInputTextarea
            i18n-placeholder="@@profile.bio"
            maxlength="500"
          >
          </textarea>
          <label for="bio">Biografija</label>
        </p-floatLabel>
      </div>
    </form>
  </div>
  <div class="profile__footer toolbar">
    <bottom-toolbar
      (onSave)="saveChanges()"
      (onDiscard)="discardChanges()"
    ></bottom-toolbar>
  </div>
</div>
