@import 'variables';
.home-page {
  display: flex;
  flex-direction: column;
  height: calc(
    100vh - $header-height - 4rem
  ); // 4rem is the padding of the main container
  &__container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }
  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: flex-start;
    align-content: flex-start;
    overflow-y: auto;
  }
}
