<div class="home-page">
  <div class="home-page__container">
    <div class="home-page__sidebar">
      <app-filter-menu (filterChanged)="onFilterChanged($event)" />
    </div>
    <div class="home-page__content">
      @for (program of programs; track program.id) {
        <app-program-card
          [program]="program"
          [showBuyButton]="program.instructorId !== myId"
          [isProgramPurchased]="program.isPurchased!"
        />
      }
      @if (programs.length === 0) {
        <div class="home-page__no-results">
          <p>Trenutno nema fitnes programa na raspolaganju.</p>
        </div>
      }
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
        [totalRecords]="totalRecords"
        [rowsPerPageOptions]="[9, 18, 27]"
      />
    </div>
  </div>
  <div class="home-page__footer">
    <small>© 2024 Internet programiranje 2024. Sva prava zadržana.</small>
  </div>
</div>
