<div class="home-page">
  <div class="home-page__container">
    <div class="home-page__sidebar">
      <app-filter-menu />
    </div>
    <div class="home-page__content">
      <app-program-card />
      <app-program-card />
      <app-program-card />
      <app-program-card />
      <app-program-card />
      <app-program-card />
      <app-program-card />
      <app-program-card />
      <app-program-card />
      <app-program-card />
      <app-program-card />
      <app-program-card />
    </div>
  </div>
  <div class="home-page__footer">
    <small>© 2024 Internet programiranje 2024. Sva prava zadržana.</small>
  </div>
</div>
