.home-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  &__header {
    padding-bottom: 6rem;
  }
  &__container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }
  &__sidebar {
    width: 20rem;
    flex-shrink: 0;
    height: 100%;
  }
  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: flex-start;
    overflow-y: auto;
  }
}
