@import 'variables';

.subscription-card {
  position: relative;
  width: $card-width;
  border-radius: $border-radius;
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  &__content {
    width: 100%;
    height: 11rem;
  }

  &__footer {
    display: flex;
    justify-content: center;

    .p-element {
      width: 100%;
    }
  }

  .p-card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .p-card-content {
    padding: 0;
  }
}
