<div class="filter-menu">
  <div class="filter-menu__content">
    <div class="filter-menu__button">
      <p-button
        icon="pi pi-filter"
        label="Filteri"
        i18n-lable="@@filter.filters"
        [outlined]="false"
        (click)="toggleTree()"
      ></p-button>
    </div>
    <div class="filter-menu__categories">
      <p-tree [value]="categories"></p-tree>
    </div>
    <div class="filter-menu__news">
      <app-news-article [articles]="newsItems"></app-news-article>
    </div>
  </div>
  <p-divider type="solid" layout="vertical"></p-divider>
</div>
