@import 'variables';
.filter-menu {
  @media (min-width: 820px) {
    width: $filter-menu-width;
  }

  height: 100%;
  display: flex;
  &__content {
    width: 100%;
  }
  &__button {
    .p-button {
      width: 100%;
    }
    margin-bottom: 2rem;
  }
  &__categories {
    .p-tree {
      border: none;
      padding: 0;
    }
  }
}
