.filter-menu {
  width: 18rem;
  height: 100%;
  display: flex;
  &__content {
    width: 100%;
    min-height: 30rem;
  }
  &__button {
    .p-button {
      width: 100%;
    }
    margin-bottom: 2rem;
  }
  &__categories {
    .p-tree {
      border: none;
      padding: 0;
    }
  }
}
