.subscription {
  width: 100%;
  min-height: 100%;
  &__header {
    margin-bottom: 2rem;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
  }
}
