@if (isDesktopToolbar) {
  <div class="header">
    <p-toolbar styleClass="header__toolbar">
      <ng-template pTemplate="start">
        <img
          src="/assets/logo.svg"
          alt="Logo"
          class="header__toolbar--logo clickable"
          (click)="goToHome()"
        />
      </ng-template>
      <ng-template pTemplate="center">
        <p-autoComplete
          [(ngModel)]="selectedFitnessProgram"
          [suggestions]="filteredFitnessPrograms"
          (completeMethod)="filterFitnessProgram($event)"
          field="name"
          i18n-placeholder="@@header.search"
          placeholder="Pretraga"
          inputStyleClass="header__toolbar--search"
          styleClass="header__toolbar--search"
          class="header__toolbar--search"
          (onSelect)="goToDetails($event)"
          [showClear]="true"
        >
          <ng-template let-item pTemplate="item">
            <div class="autocomplete__result">
              <img [src]="apiUrl + item.images[0]" />
              <div>{{ item.name }}</div>
            </div>
          </ng-template>
        </p-autoComplete>
      </ng-template>
      <ng-template pTemplate="end">
        <div class="header__toolbar--actions">
          @if (userIsLoggedIn) {
            <p-avatar
              [image]="userAvatar || undefined"
              [icon]="!userAvatar ? 'pi pi-user' : undefined"
              shape="circle"
              size="large"
              class="clickable"
              (click)="userMenu.toggle($event)"
            ></p-avatar>
            <p-menu #userMenu [popup]="true" [model]="userMenuItems"></p-menu>
            <app-cart />
          } @else {
            <app-login (loginSuccess)="onLoginSuccess()" />
          }
        </div>
      </ng-template>
    </p-toolbar>
  </div>
} @else {
  <div class="mobile-header">
    <div class="mobile-header__navigation">
      <p-button
        icon="pi pi-bars"
        class="navigation--menu"
        [outlined]="true"
        (onClick)="mobileSidebarVisible = !mobileSidebarVisible"
      ></p-button>
      <img
        src="/assets/logo.svg"
        alt="Logo"
        class="mobile-header__logo"
        (click)="goToHome()"
      />
      @if (userIsLoggedIn) {
        <app-cart />
      } @else {
        <app-login (loginSuccess)="onLoginSuccess()" [iconOnly]="true" />
      }
    </div>
    <p-autoComplete
      [(ngModel)]="selectedFitnessProgram"
      [suggestions]="filteredFitnessPrograms"
      (completeMethod)="filterFitnessProgram($event)"
      field="name"
      i18n-placeholder="@@header.search"
      placeholder="Pretraga"
      inputStyleClass="mobile-header__search"
      styleClass="mobile-header__search"
      class="mobile-header__search"
      (onSelect)="goToDetails($event)"
      [showClear]="true"
    >
      <ng-template let-item pTemplate="item">
        <div class="autocomplete__result">
          <img [src]="apiUrl + item.images[0]" />
          <div>{{ item.name }}</div>
        </div>
      </ng-template>
    </p-autoComplete>
  </div>
  <p-sidebar
    [(visible)]="mobileSidebarVisible"
    position="left"
    [blockScroll]="true"
  >
    <ng-template pTemplate="header">
      <div class="mobile-header__sidebar--header">
        @if (userIsLoggedIn) {
          <p-avatar
            [image]="userAvatar || undefined"
            [icon]="!userAvatar ? 'pi pi-user' : undefined"
            shape="circle"
            size="large"
            class="clickable"
            (click)="goToProfile()"
          ></p-avatar>
          <div>{{ userName }}</div>
        } @else {
          <app-login (loginSuccess)="onLoginSuccess()" [smallButton]="true" />
        }
      </div>
    </ng-template>
    <!-- TODO: Here goes the content which would be the filter menu -->
    <ng-template pTemplate="footer">
      <div class="mobile-header__sidebar--footer">
        @if (userIsLoggedIn) {
          <p-button
            label="Odjava"
            i18n-label="@@header.logout"
            (onClick)="logout()"
            severity="warning"
            size="small"
            [outlined]="true"
          ></p-button>
        }
      </div>
    </ng-template>
  </p-sidebar>
}
<p-dialog
  header="Oh ne..."
  [(visible)]="userNotActivated"
  [modal]="true"
  [closable]="true"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
>
  <p>
    Vaš nalog nije aktiviran.
    <br />
    Prilikom registracije niste otvorili mejl sa akctivacionim linkom.
    <br />
    Molimo Vas da proverite Vašu email adresu i aktivirate nalog.
  </p>
  <p-footer>
    <p-button
      [label]="resendLabel"
      [disabled]="buttonDisabled"
      size="small"
      (onClick)="resendActivationEmail()"
    ></p-button>
  </p-footer>
</p-dialog>
