@if (isDesktopToolbar) {
  <div class="header">
    <p-toolbar styleClass="header__toolbar">
      <ng-template pTemplate="start">
        <img
          src="/assets/logo.svg"
          alt="Logo"
          class="header__toolbar--logo clickable"
          (click)="goToHome()"
          i18n-alt="@@searchHeader.logoAlt"
        />
      </ng-template>
      <ng-template pTemplate="center">
        <p-autoComplete
          [(ngModel)]="selectedFitnessProgram"
          [suggestions]="filteredFitnessPrograms"
          (completeMethod)="filterFitnessProgram($event)"
          field="name"
          i18n-placeholder="@@searchHeader.searchPlaceholder"
          placeholder="Pretraga"
          inputStyleClass="header__toolbar--search"
          styleClass="header__toolbar--search"
          class="header__toolbar--search"
          (onSelect)="goToDetails($event)"
          [showClear]="true"
        >
          <ng-template let-item pTemplate="item">
            <div class="autocomplete__result">
              <img
                [src]="item.images[0] | url"
                i18n-alt="@@searchHeader.programImageAlt"
                alt="Slika programa"
              />
              <div>{{ item.price | currency }}</div>
              <div>{{ item.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="empty">
            <div i18n="@@searchHeader.noResults">Nema rezultata</div>
          </ng-template>
        </p-autoComplete>
      </ng-template>
      <ng-template pTemplate="end">
        <div class="header__toolbar--actions">
          @if (userIsLoggedIn) {
            <user-avatar
              [userAvatar]="userAvatar"
              (avatarClick)="userMenu.toggle($event)"
              i18n-avatarAlt="@@searchHeader.userAvatarAlt"
            />
            <p-menu #userMenu [popup]="true" [model]="userMenuItems"></p-menu>
            <app-cart />
          } @else {
            <app-login (loginSuccess)="onLoginSuccess()" />
          }
        </div>
      </ng-template>
    </p-toolbar>
  </div>
} @else {
  <div class="mobile-header">
    <div class="mobile-header__navigation">
      <p-button
        icon="pi pi-bars"
        class="navigation--menu"
        [outlined]="true"
        (onClick)="openSidebar()"
        i18n-label="@@searchHeader.menuButtonLabel"
      ></p-button>
      <img
        src="/assets/logo.svg"
        alt="Logo"
        class="mobile-header__logo"
        (click)="goToHome()"
        i18n-alt="@@searchHeader.logoAlt"
      />
      @if (userIsLoggedIn) {
        <app-cart />
      } @else {
        <app-login (loginSuccess)="onLoginSuccess()" [iconOnly]="true" />
      }
    </div>
    <p-autoComplete
      [(ngModel)]="selectedFitnessProgram"
      [suggestions]="filteredFitnessPrograms"
      (completeMethod)="filterFitnessProgram($event)"
      field="name"
      i18n-placeholder="@@searchHeader.searchPlaceholder"
      placeholder="Pretraga"
      inputStyleClass="mobile-header__search"
      styleClass="mobile-header__search"
      class="mobile-header__search"
      (onSelect)="goToDetails($event)"
      [showClear]="true"
    >
      <ng-template let-item pTemplate="item">
        <div class="autocomplete__result">
          <img
            [src]="item.images[0] | url"
            i18n-alt="@@searchHeader.programImageAlt"
            alt="Slika programa"
          />
          <div>{{ item.price | currency }}</div>
          <div>{{ item.name }}</div>
        </div>
      </ng-template>
    </p-autoComplete>
  </div>
}
<p-dialog
  header="Oh ne..."
  i18n-header="@@searchHeader.dialogHeader"
  [(visible)]="userNotActivated"
  [modal]="true"
  [closable]="true"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
  styleClass="resend-dialog"
>
  <p i18n="@@searchHeader.dialogMessage">
    Vaš nalog nije aktiviran.
    <br />
    Prilikom registracije niste otvorili mejl sa akctivacionim linkom.
    <br />
    Molimo Vas da unesete Vaše pristupne podatke i kliknete na dugme za ponovno
    slanje aktivacionog linka.
  </p>
  <div class="resend-dialog__inputs">
    <input
      type="text"
      pInputText
      [(ngModel)]="username"
      placeholder="Korisničko ime"
    />
    <p-password
      [(ngModel)]="password"
      [feedback]="false"
      placeholder="Lozinka"
      [toggleMask]="true"
    />
  </div>
  <p-footer>
    @if (!userSecondTimeLoggedIn) {
      <p-button
        label="Prijava"
        [disabled]="loginButtonDisabled"
        size="small"
        (onClick)="login()"
      ></p-button>
    } @else {
      <p-button
        [label]="resendLabel"
        [disabled]="buttonDisabled"
        size="small"
        (onClick)="resendActivationEmail()"
      ></p-button>
    }
  </p-footer>
</p-dialog>
