<div class="checkout">
  <p-stepper [linear]="true">
    <p-stepperPanel header="Korpa i lični podaci" i18n-header="@@checkout.data">
      <ng-template
        pTemplate="content"
        let-nextCallback="nextCallback"
        let-index="index"
      >
        <div class="checkout__info">
          <personal-info-form [form]="addressForm" [countries]="countries" class="info-form" />
          <cart-summary class="info-cart" />
        </div>
        <p-button
          label="Dalje"
          i18n-label="@@checkout.next"
          icon="pi pi-arrow-right"
          iconPos="right"
          (onClick)="goNext(nextCallback)"
        ></p-button>
      </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Plaćanje" i18n="@@checkout.pay">
      <ng-template
        pTemplate="content"
        let-prevCallback="prevCallback"
        let-nextCallback="nextCallback"
        let-index="index"
      >
        <div>Content II</div>
        <p-button
          label="Back"
          icon="pi pi-arrow-left"
          (onClick)="prevCallback.emit()"
        />
        <p-button
          label="Next"
          icon="pi pi-arrow-right"
          iconPos="right"
          (onClick)="nextCallback.emit()"
        />
      </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Završavanje" i18n-header="@@checkout.finish">
      <ng-template
        pTemplate="content"
        let-prevCallback="prevCallback"
        let-index="index"
      >
        <div>Content III</div>
        <p-button
          label="Back"
          icon="pi pi-arrow-left"
          (onClick)="prevCallback.emit()"
        />
      </ng-template>
    </p-stepperPanel>
  </p-stepper>
</div>
