.finish {
  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    text-align: center;
  }

  &__content {
    .p-button {
      padding: 0;
    }
  }

  &__footer {
    margin: 2rem 0;
  }
}
