<div class="finish">
  <div class="finish__header">
    <h1 i18n="@@finish.header">HVALA NA VAŠOJ NARUDŽBI!</h1>
    <p i18n="@@finish.subheader">
      Vaša narudžba je uspešno završena. Hvala Vam na kupovini i ovim se
      programi registruju kao aktivirani. Za više informacija obratite se
      osoblju na navedenim lokacijama ili posmatrajte priložene snimke.
    </p>
  </div>
  <p-table [value]="programs" class="finish__content">
    <ng-template pTemplate="header">
      <tr>
        <th i18n="@@finish.name">Naziv</th>
        <th i18n="@@finish.location">Lokacija</th>
        <th i18n="@@finish.price">Cijena</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-program>
      <tr>
        <td>{{ program.name }}</td>
        <td>
          @if (program.locationName) {
            {{ program.locationName }}
          } @else {
            <p-button
              label="Online"
              [link]="true"
              (onClick)="showVideoDialog(program.youtubeUrl)"
            />
          }
        </td>
        <td>{{ program.price | currency }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td i18n="@@finish.total">UKUPNO</td>
        <td></td>
        <td>{{ getSum() | currency }}</td>
      </tr>
    </ng-template>
  </p-table>
  <p class="finish__footer" i18n="@@finish.footer">
    Ukoliko imate bilo kakvih pitanja, slobodno nas kontaktirajte na
    <a href="mailto:abc@abc.com">E-Mail</a>.
  </p>
  <p-dialog
    [modal]="true"
    [(visible)]="videoDialogVisible"
    [style]="{ width: '70vw' }"
    [closable]="true"
    (onHide)="clearVideoUrl()"
  >
    @if (videoUrl) {
      <iframe
        [src]="videoUrl | youtube"
        width="100%"
        height="600"
        frameborder="0"
        allowfullscreen
      ></iframe>
    }
  </p-dialog>
</div>
